


.auth__form{
    /* background: var(--primary-color); */
    padding: 40px;
    border-radius: 5px;

}
.auth__btn{
    background: var(--primary-color) !important;
    color:  #fff;
    font-weight: 600;
}
.auth__form p {
    margin-top: 30px;

}
.auth__form p a{
    color:var(--primary-color);
}
.auth__form input[type= 'file'] {
    color: #fff;
    cursor: pointer;
}